@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");

body {
    background-color: #FCF9FB;
    font-family: Pretendard;
}

header {
    width: 100%;
    height: 50px;
    background-color: #F06786;
}

#wrap {
    margin: 0 20px;
}

/* 타이틀 */
#title {
    font-size: 1.25em;
    color: #F06786;
    font-weight: bold;
    padding: 10px 0;
}

#title > * {
    display: inline-block;
    
    height: 100%;
    vertical-align: middle;
}

.title_photo img{
    /* width: 12px; */
    width: 0.6em;
}

#filter_btn {
    float: right;
}

#filter_btn img{
    width: 1em;
}

/* 본문 */
.container {
    width: 100%;
    font-size: 1em;
}

.title_ex {
    font-weight: 500;
    margin-bottom: 3%;
}

/* 검색창 */
form {
    position: relative;
    width: 100%;
    margin: 5% 0;
}

input {
    width: calc(100% - 32px);
    border: 1px solid #F194B4;
    border-radius: 30px;
    padding: 12px 16px;
    font-size: 1em;
    font-family: Pretendard;
}

.search_btn {
    background-color: transparent;
    border: none;

    position: absolute;
    top: 10px;
    right: 12px;
}

.search_btn img {
    width: 20px;
}

/* 부스 정보 */
.booth {
    width: 100%;
    /* height: 150px; */
    height: calc( (100vw - 40px) * 0.4 );
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #E6E6E6;
}

.booth div {
    display: inline-block;
}

/* 부스 정보: 이미지 */
.booth_img_wrap {
    width: 40%;
    height: 100%;
}

.booth_img_wrap img {
    width: 100%;
    height: 100%;
    /* overflow:hidden 왜 적용 안되는지 찾아보기 */
    border-radius: 10px 0 0 10px;
}

/* 부스 정보: 설명 */
.booth_info_wrap {
    width: calc(60% - 30px);
    height: calc(100% - 30px);
    float: right;
    padding: 15px;
}

.booth_info_wrap div {
    width: 100%;
}

.booth_name {
    font-weight: bold;
    font-size: 14px;
}

/* span으로 하면 가운데 정렬이 안되고 div로 하면 옆에 안붙고... */
.booth_site {
    font-size: 11px;
    color: #F06786;
}