@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");

header {
    width: 100%;
    height: 75px;
    background-color: #F06786;
}

body {
    font-family: Pretendard;
}

.stamp {
    padding-top: 10px;
    padding-left: 10px;
}

.stamp > * {
    display: inline;
    vertical-align: middle;
}

.map{
    width: 100%;
    overflow: hidden;
}

.map_img{
    width: 100%;
}

/* 지도 선택하기 */
.select_wrap {
    position: absolute;
    width: calc(100% - 50px);
    bottom: 0;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px -10px 10px #E6E6E6;
    padding: 25px;
    padding-bottom: 60px;
    font-weight: bold;
    background-color: #fff;
}

.map_select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select_area > * {
    display: inline-block;
    vertical-align: middle;
}

.star {
    margin-right: 10px;
}

.line {
    border-top: 1px solid #E2E2E2;
    margin: 25px 0;
}

.reset_wrap {
    /* position: relative; */
    /* right: 0px; */
    display: flex;
}
/* .reset {
    float: right;
} */