body {
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    font-family: "Pretendard-Regular";
    background-color: #FCF9FB;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#wrap {
    margin: 0 20px;
}

/*상단바 > 이전,로고,목록 아이콘*/
.icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-left: 4px;
}

.back {
    margin-left: 0;
    margin-top: -10px;
}

.logo {
    margin-left: 15px;
    margin-top: -10px;
    text-align: center;
    align-items: center;
}

.list_icon {
    margin-right: 15px;
    margin-top: -10px;
}

/* fst 공지사항,글쓰기*/
.fst {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.fst .notice_icon {
    max-height: 24px;
    margin-right: 5px;
}

.fst h1 {
    display: flex;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    left: 0px;
    color: #F06786;
}

.fst h2 {
    display: flex;
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 10px;
    color: #f06786;
    margin-left: 190px;
}

.fst a {
    text-decoration: none;
}
/* 360px 이하의 화면 크기에서 .fst .notice_icon과 .fst h2의 간격 줄이기 */
@media screen and (max-width: 360px) {
 
    .fst {
        justify-content: space-between; /* 요소들을 좌우에 배치 */
        align-items: center; /* 세로 중앙 정렬 유지 */
    }

    .fst .notice_icon {
        max-height: 24px;
        margin-right: 5px;
    }

    .fst h1 {
        left : 0px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #F06786;
        margin-right: auto;
    }

    .fst h2 {
        display: flex;
        font-family: 'Pretendard';
        font-style: normal;
        font-size: 10px;
        color: #f06786;
        margin-left: auto; /* 왼쪽 여백을 자동으로 확보 */
        margin-right: 20px; /* 오른쪽 여백을 20px로 지정 */
    }

    .fst a {
        text-decoration: none;
    }
}


/* 360px 이상의 화면 크기에서도 h2가 오른쪽에서 20px 떨어져 있도록 설정 */
@media screen and (min-width: 361px) {
    .fst {
        justify-content: space-between; /* 요소들을 좌우에 배치 */
        align-items: center; /* 세로 중앙 정렬 유지 */
    }

    .fst .notice_icon {
        max-height: 24px;
        margin-right: 5px;
    }

    .fst h1 {
        left : 0px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #F06786;
        margin-right: auto;
    }

    .fst h2 {
        display: flex;
        font-family: 'Pretendard';
        font-style: normal;
        font-size: 10px;
        color: #f06786;
        margin-left: auto; /* 왼쪽 여백을 자동으로 확보 */
        margin-right: 20px; /* 오른쪽 여백을 20px로 지정 */
    }

    .fst a {
        text-decoration: none;
    }
}


/* 공지사항들 */
.category_container {
    position: absolute;
    width: calc(100% - 40px); /* 화면 너비에서 20px씩 제외하여 컨테이너의 너비를 계산 */
    height: 440px;
    margin-top: 120px;
    margin-left: 20px; /* 왼쪽 여백 추가 */
    margin-right: 20px; /* 오른쪽 여백 추가 */
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.category {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    width :100%;
    height: auto;
}

.category h2 {
    position: absolute;
    display: flex;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: black;
    /* top: 165px; */
    margin-top: 100px;
    left: 9px;
    margin: 0;

    
}

.category img {
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

@media (min-width: 361px) {
    .category_container {
        width: calc(100% - 40px);  /* 컨테이너의 너비를 자동으로 조정하여 내용을 확대 */
        margin-top: 120px; /* 필요에 따라 상단 여백 조정 */
    }
    .category img {
        width: 45vw; /* 가로 크기를 화면 너비의 100vw로 설정 */
        height: auto; /* 가로 크기에 맞추어 세로 크기 자동 조절 */
    }

    .category h2 {

            margin-left: 20px; /* 반응형으로 조정할 left 값 */
     
    }

}


.rowplus{
    display: none;
    justify-content: space-between;
    margin-bottom: 30px;
    visibility: hidden;
}

/* 더보기버튼 */
.plusbutton {
    display: flex;
    top: 740px;
    /* Rectangle 23 */
    box-sizing: border-box;
    position: absolute;
    width: 84px;
    height: 33px;
    border: 1.1px solid #F06786;
    border-radius: 7px;
}

.plusbutton h3 {
    /* + 더 보기 */
    position: absolute;
    width: 45px;
    height: 14px;
    left: calc(50% - 45px/2 + 0.5px);
    top: 15%;
    transform: translateY(-50%);
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #F06786;
}
