body {
    height: 100%;
}
.container {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
}
/*이전,로고,목록 아이콘*/
.icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-left: 24px;
}
.list_icon {
    margin-right: 13px;
    margin-top: -10px;
}
/* fst */
.fst {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.fst .notice_icon {
    max-height: 24px;
    margin-right: 12px;
}
.fst h1 {
    display: flex;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F06786;
}
.fst h2 {
    display: flex;
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 13px;
    color: #f06786;
    margin-left: 160px;
}
.fst a {
    text-decoration: none;
}

.category_container {
    position: absolute;
    width: 333px;
    height: 440px;
    margin-top: 120px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.category {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
.category h2 {
    position: absolute;
    display: flex;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: black;
    top: 165px;
    left: 9px;
    margin: 0;
}
.category img {
    max-width: 100%;
}
.plusbutton {
    display: flex;
    margin-top: 630px;
}

.a {
    text-decoration: none;
}
