body {
    height: 100%;
    font-family: "Pretendard-Regular";
    background-color: #FCF9FB;
    margin-right: 20px;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

/*상단바 > 이전,로고,목록 아이콘*/
.icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-left: 4px;
}

.back {
    margin-left: 0;
    margin-top: -10px;
}

.logo {
    margin-left: 15px;
    margin-top: -10px;
    text-align: center;
    align-items: center;
}

.list_icon {
    margin-right: 15px;
    margin-top: -10px;
}

.box {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 70px;
    background: #FFFFFF;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.title h1 {
    /* 수정대동제 일정 안내 */
    position: absolute;
    width: 149px;
    height: 22px;
    left: 20px;
    top: 17px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #313131;
}

.title h2 {
    /* 날짜 */
    position: absolute;
    width: 46px;
    height: 11px;
    left: 250px;
    top: 15px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: right;
    color: #A0A0A0;
    white-space: nowrap;
}

@media screen and (min-width: 361px) {

    .box {
        position: absolute;
        width: 100%;
        height: 600px;
        top: 70px;
        background: #FFFFFF;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
    }

    .title h1 {
        position: absolute;
        width: 149px;
        height: 22px;
        left: 20px;
        top: 17px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #313131;
    }

    .title h2 {
        top: 26px;
        width: auto;
        right: 17px;
        text-align: right;
    }
}

.line {
    position: absolute;
    justify-items: center;
    width: calc(100% - 20px);
    left: 10px;
    right: 10px;
    height: 0;
    top: 74px;
    border: 0.7px solid #E2E2E2;
}

.content h3 {
    position: absolute;
    justify-items: center;
    width: calc(100% - 40px);
    left: 20px;
    right: 20px;
    top: 90px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #313131;
}

.slider {
    position: absolute;
    left: 5%;
    top: 60%;
    width: 90%;
    height: 200px;
    overflow: hidden;
}

.slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    gap: 10px;
    pointer-events: none;
}

.slider-item {
    flex: 0 0 calc(100% / 6 - 10px);
    height: 100%;
}
