@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fcf9fb;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Pretendard-Regular";
}
input {
  width: 100%;
  height: 47px;
  font-family: "Pretendard-Regular";
  font-size: 12px;
}
input:focus {
  outline: none;
}
hr {
  border-top: 2px dashed #bbb;
  margin-top: 24px;
}
select {
  color: #f06786;
  border-radius: 7px;
  border: solid 1px #f06786;
  width: 180px;
  height: 40px;
  font-family: "Pretendard-Regular";
  font-size: 11px;
  padding-left: 18px;
  appearance: none;
  background: #fff url("../img/dropdown1.svg") no-repeat center right; /*화살표 이미지 넣기*/
  background-size: 52px 40px;
  margin-top: 10px;
}
select:focus {
  outline: none;
}
option:focus {
  outline: none;
}
.top_bar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back_btn {
  float: left;
  width: 12px;
  height: 16px;
}
.logo_img {
  display: block;
  margin: 0 auto;
  height: 21px;
  width: 89px;
}
.ham_btn {
  float: right;
  width: 17px;
  height: 15px;
}

.top {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  padding-bottom: 10px;
}
.sparkle {
  width: 12px;
  height: 20px;
}
.booking_text {
  color: #f06786;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
.insert {
  margin-top: 20px;
  align-items: center;
}
.insert input {
  border-radius: 7px;
  border: solid 1px #f06786;
  margin-top: 13px;
  color: #313131;
  padding-left: 17px; /* 왼쪽 공간 추가 */
  box-sizing: border-box; /* 박스 모델 크기 계산 방식 변경 */
}

.text {
  font-size: 13px;
}
.select_date {
  margin-top: 17px;
}
.date {
  font-size: 11px;
  margin-left: 17px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
.check_icon {
  width: 17px;
  height: 17px;
  vertical-align: middle;
}
.select_item {
  margin-top: 18px;
  font-size: 13px;
}
.price {
  float: right;
}
.btn {
  width: 100%;
  margin-top: 39px;
  margin-bottom: 25px;
}
.booking_btn {
  background-color: #f06786;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  width: 100%;
  height: 47px;
  font-size: 14px;
}
.text_input {
  color: #313131;
}
