@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
  font-style: normal;
  }


* {
  font-family: "Pretendard-Regular";
  box-sizing: border-box;
  list-style: none;
}

body{
  margin: 0;
  background-color: blue;
}

a{
  color: #F06786;
}

.header{
  background-color: #FCF9FB;
  position: fixed;
  width:100%;
  height: 75px;
  z-index: 3;
}

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #FCF9FB;
} 

.header ul a{
  display: block;
  /* outline: 1px solid red; */
  padding: 17px 36px;
  text-decoration: none;
  font-size: 15px;
}
.header .menu{
  clear:both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon{
  border:1px solid red;
  padding: 26px 20px;
  position: relative;
  float: right; 
  cursor: pointer;
}

.header .menu-btn{
  display: none;
}

.header .menu-btn:checked ~ .menu{
  max-height: 500px;
}


.box{
  /* padding: 17px 36px; */
  text-align: center;
  font-size: 12px;
  margin: 23px 0 50px 0;
  width: 80px;
  height: 24px;
  background-color: #ffffff00;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  border:1px solid #F06786ed;

  display: flex;
  justify-content: center;
  align-items: center;
}